/* Theme Name:Brad Frost Web V5 */
/*------------------------------------*\
    TABLE OF CONTENTS https:/github.com/csswizardry/CSS-Guidelines
    \*------------------------------------*/
/**
 * RESET.....................CSS Reset
 * GLOBAL STYLES.............Global Element Styles
 * CLASSES...................Global/Generic Classes
 * TYPE......................Type Specific Styles
 * LAYOUT....................Layout-specific Style
 * STRUCTURE.................Site structure (header, nav, etc)
 * MEDIA.....................Images, Video, iFrames and more
 * FORMS.....................Form Styles
 * ERRORS....................Form Error Styles
 * MEDIA QUERIES.............Progressive Enhancement Styles
 */

/* ! *//*
* default.css
*
* All browsers, desktop and mobile download the default.css stylesheet
*
*/

/*------------------------------------*\
  $RESET
\*------------------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
html,body,div,span,object,iframe,h1,h2,h3,h4,p,address,ol,ul,li,form,fieldset,legend,label,table,header,footer,nav,section,figure,img,small {
  margin:0;
  padding:0;
  outline:0 none
}
ol, ul {
  list-style:none;
  list-style-image:none
}
article,aside,figcaption,figure,footer,header,hgroup,nav,section{
  display:block
}
audio,canvas,video {
  display:inline-block
}
audio,canvas,img,svg,video {
vertical-align: middle
}
audio:not([controls]) {
  display:none;
  height:0
}
[hidden] {
  display:none
}
table {
  border-collapse:collapse;
  border-spacing:0
}

/*------------------------------------*\
  * $GLOBAL STYLES
\*------------------------------------*/
html{
  font:1em/1.4 "Open Sans", Arial, sans-serif;
   -webkit-font-smoothing:antialiased;
   -webkit-text-shadow:rgba(255,255,255,0.01) 0 0 1px;
   text-rendering:auto;
   -webkit-text-size-adjust:100%;
   -ms-text-size-adjust:100%
}
html,body{
  height:100%
}
body:before{
  float:left;
  height:100%;
  width:0;
  margin-top:-32767px;
  content:""
}
body{
  background:#FFF
}
html, select, textarea {
  color:#565656
}
abbr[title] {
  border-bottom:1px dotted
}
address {
  font-style:normal;
  display: inline-block
}

/* ul{list-style:none outside none} */

a {
  font-weight:normal;
  text-decoration:none;
  color:#1A436A;
  margin:0;
  padding:0;
  border-bottom: 1px dotted rgba(26, 67, 106, .67)
}
a:focus {
  color:#002663;
  outline:thin dotted
}
a:link,a:visited{
  font-weight:normal;
  text-decoration:none
}
a:visited{
  color:#3867B1
}
a:active {
  outline:0
}
a[name="err_top"]{
  border: 0 none
}
/*
  * http://stackoverflow.com/questions/5539334/odd-behavior-with-css-first-childbefore-in-chrome
*/
a[data-dot="firstdot"]:before, span[data-dot="firstdot"]:before {
  content: '';
  padding-left:0;
  margin-left:0
}
a[data-dot="middot"]:before, span[data-dot="middot"]:before {
  content: '\b7\a0'
}
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #E9E9E9;
  margin:1em 0;
  padding:0
}
/*------------------------------------*\
  * $CLASSES/IDS
\*------------------------------------*/

.nomargin{
  margin:0 !important
}
.nopadding{
  padding:0 !important
}
.left{
  float:left !important
}
.right{
  float:right !important
}
.center {
  margin:0 auto !important
}
.alignleft{
  text-align:left !important
}
.alignright{
  text-align:right !important
}
.aligncenter {
  text-align:center !important
}
.inline {
  display:inline !important
}
.inline-block {
  display:inline-block !important
}
.block {
  display:block !important
}
.lowercase {
  text-transform:lowercase !important
}
.largeText {
  font-size: 4em; /* 64px */
  margin-bottom: 0
}
.mediumlargeText{
  font-size: 3em;
  margin-bottom: .15em
}
.mediumText {
  font-size: 140%; /*2.125em;  34px */
  font-weight: normal;
  margin-bottom: 0
}
.smallmediumText {
  font-size: 1.75em; /* 28px */
  margin-bottom: 0
}
.baseText {
  font-size: 1em;
  margin-bottom: 0
}
.smallText {
  font-size:.8em
}
.nounderline {
  text-decoration: none !important
}
.italic {
  font-style: italic !important
}
.sup:before{
  content: '+';
  position:relative;
  left:-.4em;
  top:-.3em;
  padding:0;
  margin-right: -20px
}
.noborder {
  border: 0 none !important
}
.padded {
  padding-bottom: 2em
}
.paddedLight {
  padding: 1.2em
}
.bgd_blue {
  background:#002663
}
.border_yellow {
  border-bottom:2px solid #FFD200
}
.border_blue {
  border-bottom:2px solid #002663
}
.bgd_white {
  background:#FFF
}
.text_blue {
  color:#002663
}
.text_white {
  color:#FFF
}
.clearfix:before,.clearfix:after,.row:before,.row:after {
  content:"";
  display:table
  }
.clearfix:after,.row:after {
  clear:both
  }
html[xmlns] .clearfix, html[xmlns] .row {
  display:block
  }
/* Hide from screenreaders and browsers:h5bp.com/u */
.hidden {
  display:none!important;
  visibility:hidden
}
/* Hide visually, but available for screenreaders:h5bp.com/v */
.visuallyhidden {
  position:absolute;
  border:0;
  clip:rect(0 0 0 0);
  width:1px;
  height:1px;
  margin:-1px;
  padding:0;
  overflow:hidden
}
/* Extends .visuallyhidden to allow element focus with keyboard nav:h5bp.com/p */
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
  position:static;
  clip:auto;
  width:auto;
  height:auto;
  margin:0;
  overflow:visible
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility:hidden
}

/*------------------------------------*\
  * $TYPE
\*------------------------------------*/
h2, h3, h4, h5 {
  color:#1A436A
}
h2, h3 {
  font-weight:500
}
h2 .after,h3 .after {
  position:absolute;
  color:#000;
  top:0;
  left:0;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,.8)))
}
h1 {
  font-size:2em; /* 32px */
  font-weight:600;
  margin-bottom:.67em;
  color:#015993;
  -webkit-font-smoothing:subpixel-antialiased
}
h2 {
  font-size:1.75em; /* 28px*/
}
h3 {
  font-size:1.5em; /* 24px */
}
h4 {
  font-size:1.125em; /* 18px */
}
small,
.small {
  font-size:80%;
  font-weight:normal;
  color:#545454
}
p,
pre{
  margin:0 0 1.4em
}
p a{
  line-height:inherit
}
b,
strong{
  font-weight:bold
}

/*------------------------------------*\
  * $LAYOUT
\*------------------------------------*/
.no-js .page {
  float: left;
  width: 60%
}
html.js #jsWarning {
  display: none
}
#chromeframe, #legacy{
  background:#FAE692;
  height:auto
}
.chromecontainer {
  background: url('http://www.udel.edu/deptforms/images/icons/js-notice.png') no-repeat
}
.chromecontainer{
  width:60%;
  margin:0 auto;
  padding-top:1%
}
.chromecontainer h3,.chromecontainer p{
  color:#1A1A1A;
  display:block;
  padding-left:48px
}
.chromecontainer a{
  color:#00F;
  border-bottom:1px solid #00F
}

#wrapper{
  max-width:120em;
  width:100%;
  background:#FFF;
  margin:0 auto;
  position: relative
}
.udwrap {
  display:block;
  position:relative;
  margin:0 auto;
  clear:both;
  height:50px
}

.last {margin-right:0 !important}
.first {margin-left:0 !important}
#top {padding-top:1.3em}

.row {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto
}
.column, .columns {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  float: left;
  margin-left: 1.81818%;
  padding:0 1.25em;
  min-height: 1px;
}
.column, .columns:first-child {
  margin-left: 0;
}
.columns {
  margin-bottom: 10px;
  min-height: 38px
}
.row .one.column {width:6.66667%}
.row .one.columns {width:6.66667%}
.row .two.columns {width:15.15152%}
.row .three.columns {width:23.63636%}
.row .four.columns {width:32.12121%}
.row .five.columns {width:40.60606%}
.row .six.columns {width:49.09091%}
.row .seven.columns {width:57.57576%}
.row .eight.columns {width:66.06061%}
.row .nine.columns {width:74.54545%}
.row .ten.columns {width:83.0303%}
.row .eleven.columns {width:91.51515%}
.row .twelve.columns {width:100%}
/*------------------------------------*\
  * $STRUCTURE
\*------------------------------------*/

aside {
  border: 4px solid #FFF;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: tan
}
aside p {
  padding: 0 11px
}
aside h4 {
  color: #FFF;
  padding: 8px;
  margin-bottom: 1em
}
aside h4 a {
  color: #FFF;
  font-size:1em;
  border-bottom: none 0
}
#headwrap{
  min-width:220px;
  max-width:71.25em;
  margin:0 auto;
  padding:0 2%
}
header[role="banner"]{
  float:left;
  background:#002663;
  color:#FFF;
  width:100%;
  height:auto;
/*  max-height: 150px;*/
  position:relative;
  border-bottom:3px solid #FFD200;
  margin: 0
}

#udbrand_college h3 {
    display: block;
    font-family: 'Ubuntu';
    line-height: 1.9;
    padding:0;
    color:#FFF;
}
#udbrand_logo h1 > span {
  font-family: 'Cardo', serif;
  font-style:  italic;
  font-weight: normal;
  letter-spacing: 1px;
    margin-left: -4px
}
 #udbrand_logo h1{
  color:#FFF;
  font-family: 'Open Sans';
  font-weight:600;
  letter-spacing: 2px;
  line-height:2;
  margin:0;
  padding-bottom:0 !important;
  overflow:visible
}
 #udbrand_logo {line-height: 2}
/* #headcont h3 {padding-left: .313em}*/
/* #udbrand_header{padding:5px 0}*/


#main-content {
    background: #FFF;
     width:100%
}
footer {
    margin-top: 2%;
    font-family: Arial, sans-serif
}
#sidelinks li {
  display: inline-block
}
.topBar #udbrand-logo {
  font-size:1px;
  color:#FFF;
  border-bottom: 3px solid #FFD200;
  background:#002663
}
#udlinks {
    line-height: 3
}
#udlinks a {
    font-weight: bold
}
#udlinks li {
  display: inline-block
}
#udlinks li:first-child {
  border-left: none 0
}
.footerinfo li {
  color: #1A436A;
  font-size: .85em
}
#udlinks li, #udlinks li a {
  font-weight: bold !important
}
.footerinfo a, #udlinks a {
  border-bottom: 1px dotted rgba(26, 67, 106, 0.37);
  color: #1A436A !important
}
.searchpad ul {
  float:right;
  margin:5px 0 3px;
  padding:0
}
#navlist li {
  display:inline-block;
  vertical-align: middle;
  margin:1px;
  padding:1px;
}
#site_nav {
   background:#333;
    line-height: 3;
}
#site_nav ul {
  margin:auto;
  position:relative;
  max-width: 1200px;
  text-align: center
}
#site_nav li {
  display: inline-block
}
#site_nav  li a{
    border-left: 1px solid #555555;
    display: inline-block;
    font-size: 15px;
    margin: 0 -3px;
    padding: 8px 30px;
    text-shadow: 1px 1px 1px #333333;
  color:#FFF
}
.searchpad li a {
  font-size:.8em;
  font-weight:bold;
  text-decoration:none;
  text-align: center;
  color:#BFE5FC;
  background-color: #002663;
  border: 0 none;
  width:auto;
  height:20px
}
.searchpad li a.mid {
  padding:0 1em
}
#searchdiv {
  overflow: hidden;
  padding-right: .5em
}
#udbrand-form {
  padding:7px 0 7px 7px;
  background:#444;
  background:rgba(0,0,0,.2);
  -webkit-border-radius:10px;
  border-radius:10px;
  border: none 0
}
div.toTop {
  background: rgba(0, 38, 99, 0.3);
  color: #FFF;
  position: fixed;
  bottom: 5px;
  right: 0px;
  width:43px;
  height:40px;
  cursor: pointer;
  line-height: 3.3;
  text-transform: uppercase;
  text-align: right;
  display: none;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px
}
/*------------------------------------*\
  * $MEDIA
\*------------------------------------*/
#udbrand_logo img {
  max-width:100%;
  height:auto;
  width:auto\9;
  border: 0 none;
  padding:0;
  background: none;
  color:#111;
}
img,
a img {
  border:0;
  color:#111
}
img,
a img,
#udbrand-logo img,
figure img {
  max-width:100%;
  height:auto;
  width:auto\9
}
svg:not(:root) {
  overflow:hidden
}
.icon-search,.icon-menu,.icon-people, .icon-az {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../img/icons/sprites.png');
  background-image: url('../img/icons/sprites.svg'), none !important;
  background-repeat: no-repeat
}
.searchpad #navbtn {
  display: none;
}
.icon-email, a[href^="mailto:"]:after {
  background-position: -128px -9px;
  content: "\00a0"
}

 .icon-az {
    background-position: -68px -20px
  }

  .icon-people {
    background-position: 9px -18px
  }
  [data-bgd="icon-search"] {
    background-color:#EF8200;
    background-position: -30px 8px;
    content: " "
  }
/* For image replacement e.g., background img on element */

.ir br {
  display:none
}
.ir {
  display: inline-block;
  background-color:hsla(0,0%,100%,0);
  border:0;
  white-space:nowrap;
  overflow:hidden
}
.ir:before {
  content:"";
  display:block;
  width:0;
  height:150%
}

/*------------------------------------*\
  * $FORMS
\*------------------------------------*/
a[role="button"],
button {
  -webkit-border-radius:5px;
  border-radius:5px
}
a[role="button"],button {
  background:#00A0DF;
  border:1px solid #222;
  display:inline-block;
  position:relative;
  text-align:center;
  text-decoration:none;
  color:#FFF;
  margin-top:1%;
  padding:0 .625em;
  line-height:1.625em
}
/* On separate lines because of comment @ http://css-tricks.com/snippets/css/style-placeholder-text/ */
::-webkit-input-placeholder {
  font-style:italic;
  color:#666
}
:-moz-placeholder  {
  font-style:italic;
  color:#666
}
::-moz-placeholder { /* FF 19+ */
  font-style:italic;
  color:#666
}
:-ms-placeholder {
  font-style:italic;
  color:#666
}
#udbrand-form input:focus:not([type="submit"]){
  outline: 0 none
}
input[type = "search"]::-webkit-search-cancel-button,
input[type = "search"]::-webkit-search-decoration,
button {
  -webkit-appearance:none;
  -moz-appearance:none
}
button,input {
  line-height:normal;
  font-size:100%;
  vertical-align:baseline
}
button::-moz-focus-inner {
  border:0;
  padding:0
}
input#UDSearchField {
  display: inline-block;
  padding: 4px 6px 5px;
  margin-bottom: 0;
  vertical-align: middle;
  height:15px;
  font:normal 12px Arial,sans-serif;
  border:0;
  background:#EEE;
  -webkit-border-radius:3px 0 0 3px;
  border-radius:3px 0 0 3px;
  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5), 0 0 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.5), 0 0 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-appearance:listbox;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}

input[type="search"]#UDSearchField:hover {
  background-color: #EEE !important
}

input#UDSearchField:focus {
  background:#fff;
  outline:0 none
}





.search button {
  overflow: visible;
  position:relative;
  float:right;
  padding:0;
  margin:0;
  cursor:pointer;
  width: 28px;
  height: 29px;
  -webkit-border-radius:0 3px 3px 0;
  border-radius:0 3px 3px 0;
  border: 0 none
}
.search button:active,
.search button:focus {
  outline:0
}
.search button:before{
  content:'';
  position:absolute;
  border-width:8px 8px 8px 0;
  border-style:solid solid solid none;
  border-color:transparent #EF8200 transparent;
  top:10px;
  left:-7px;
  height:15px
}
.search button:focus:before,.search button:active:before{
  border-right-color:#EF8200
}
.search button::-moz-focus-inner {
  border:0;
  padding:0
}
.group > p {
  margin-bottom: .7em
}


/*------------------------------------*\
  * $MEDIA QUERIES
\*------------------------------------*/

@media only screen and (max-width:47.938em){/* 782      767 47.938em */
  .row {
      clear: both;
      display: block;
      max-width: 1200px;
      position: relative;
  }
  .row .one.columns, .row .two.columns, .row .three.columns, .row .four.columns, .row .five.columns, .row .six.columns, .row .seven.columns, .row .eight.columns, .row .nine.columns, .row .ten.columns, .row .eleven.columns, .row .twelve.columns,.udwrap .one.columns, .udwrap .two.columns, .udwrap .three.columns, .udwrap .four.columns, .udwrap .five.columns, .udwrap .six.columns, .udwrap .seven.columns, .udwrap .eight.columns, .udwrap .nine.columns, .udwrap .ten.columns, .udwrap .eleven.columns, .udwrap .twelve.columns{
    width:auto;
    float:none;
    margin-left:0;
    margin-right:0;
    padding-left:20px;
    padding-right:20px
  }

  .deskBar {
    display:none;
    visibility:hidden;
  }
  .animatedSlide {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease-out;
    -ms-transition-property: -ms-transform;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease-out;
    -o-transition-property: -o-transform;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease-out;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .no-csstransforms3d .animatedSlide {
    -webkit-transition: left 0.3s ease-out, right 0.3s ease-out;
    -moz-transition: left 0.3s ease-out, right 0.3s ease-out;
    -ms-transition: left 0.3s ease-out, right 0.3s ease-out;
    -o-transition: left 0.3s ease-out, right 0.3s ease-out;
    transition: left 0.3s ease-out, right 0.3s ease-out;
  }
  .floated {
    float: left;
    width: 100%
  }
  .padded {
    padding: 2em
  }
  .paddedLight {
    padding: 1.2em
  }
  .offcanvas body {
    overflow: hidden
  }
  .offcanvas .scrollableArea {
    -webkit-overflow-scrolling: touch
  }
  .sidebarLeft.show, .sidebarRight.show {
    z-index: 200
  }
  /* Sliding side bars */
  .sidebarLeft, .sidebarRight {
    float: left;
    width: 20%;
    word-wrap: break-word;
    z-index: 100;
    background-color: rgba(0, 38, 99, 0.75);
    /* hides close button unless JS is enabled */
  }
  .sidebarLeft .shutLeft, .sidebarLeft .shutRight, .sidebarRight .shutLeft, .sidebarRight .shutRight {
    display: none;
    position: absolute;
    top: 0;
    z-index: 90;
    width: 1.6em;
    height: 1.6em;
    font-size: 2.5em;
    line-height: 1.6em;
    color: #C4D8E5;
    text-decoration: none;
    text-align: center;
    opacity: 0.3
  }

  /* Styles for both sidebars */
  .offcanvas .sidebarLeft, .offcanvas .sidebarRight {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20em;
    padding: 0 .438em 0 .625em
  }
  .offcanvas .sidebarLeft .shutLeft, .offcanvas .sidebarLeft .shutRight, .offcanvas .sidebarRight .shutLeft, .offcanvas .sidebarRight .shutRight {
    display: block
  }
  .offcanvas .sidebarLeft {
    left: 0;
    -webkit-transform: translate3d(-7em, 0, 0);
    -moz-transform: translate3d(-7em, 0, 0);
    -o-transform: translate3d(-7em, 0, 0);
    -ms-transform: translate3d(-7em, 0, 0);
    transform: translate3d(-7em, 0, 0)
  }
  .offcanvas .sidebarLeft .shutLeft {
    left: 0
  }
  .offcanvas .sidebarRight {
    right: 0;
    -webkit-transform: translate3d(7em, 0, 0);
    -moz-transform: translate3d(7em, 0, 0);
    -o-transform: translate3d(7em, 0, 0);
    -ms-transform: translate3d(7em, 0, 0);
    transform: translate3d(7em, 0, 0)
  }
    .offcanvas .sidebarRight .shutRight {
      right: 0
  }
  /* Main central area styles */
  .offcanvas .page {
    width: 100%;
    height: 100%
  }
  .page {
    word-wrap: break-word;
    position: relative;
    z-index: 500
  }
  #page .scrollableArea {
    position: absolute;
    top: 61px;
    bottom: 0;
    background: #FFF
  }
  .offcanvas .scrollableArea {
    overflow: auto;
    position: absolute;
    right: 0;
    top: 88px;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch
  }
  [data-bgd="icon-menu"], [data-bgd="icon-search-mobile"]  {
    background-position: -28px -50px;
    content: " "
  }

  /*
    * Touch Target Sizes
    * http://uxdesign.smashingmagazine.com/2012/02/21/finger-friendly-design-ideal-mobile-touchscreen-target-sizes/
    * A touch target that’s 45 – 57 pixels wide allows the user’s finger to fit snugly inside the target.
  */
  [data-bgd="icon-menu"], [data-bgd="icon-search-mobile"]  {
    background-image: url("../img/icons/sprites.svg"), none !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    width: 50px
  }
  .sidebarLeft.slidRight, .sidebarRight.slidLeft {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-border-radius:0;
    border-radius: 0
  }
  .no-csstransforms3d .sidebarLeft.slidRight {
    left: 0
  }
  .no-csstransforms3d .sidebarRight.slidLeft {
    right: 0
  }
  .topBar h1 img {
    position: relative;
    text-align: center !important;
    top: 10px;
    width: inherit !important;
  }
  .topBar .slideRight, .topBar .slideLeft {
    position: absolute;
    top: 0;
    width: 0.8em;
    height: 0.8em;
    font-size: 5em;
    line-height: 0.84em;
    color: #fff;
    text-decoration: none;
    text-align: center
  }
  .topBar .slideRight {
    left: 0
  }
  .topBar .slideLeft {
    right: 0
  }
  .social {
    font-family: Social;
    font-style: normal;
    font-size: 1.5em
  }
  .sidebarLeft ul, .sidebarRight ul{
    float: left;
    width: 100%
  }
  .sidebarLeft ul a, .sidebarRight ul a {
    float: left;
    width: 100%;
    padding: 0.6em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    color: gainsboro;
    font-weight: 300;
    text-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.4)
  }

.sidebarLeft ul a.current, .sidebarRight ul a.current  {
    color: #fff;
    background: #323232
  }
  .sidebarLeft li, .sidebarRight li {
    float: left;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    position: relative
  }
    .sidebarLeft li .icon {
      margin: 0 0.4em 0 0
    }
    .sidebarLeft li .social{
      margin: 0 0.4em 0 0
    }
  .sidebarLeft li:last-child,  .sidebarRight li:last-child{
    border-bottom: 0
  }
  .you {
    float: left;
    width: 100%;
    background: rgba(0, 38, 99, 0.294) !important;
    border-bottom: 1px solid #5A7E92;
    position: relative;
    text-align: center
  }
  .page .scrollable {
    top: 4.125em
  }
  aside.sidebarLeft, aside.sidebarRight {
    -webkit-border-radius: 0 none;
    border-radius: 0 none;
    color: gainsboro
  }
  aside.sidebarLeft {
    border-right: 3px solid #EF8200;
    border-top: 0 none;
    border-left: 0 none;
    border-bottom: 0 none
   }
  aside.sidebarRight {
    border-left: 3px solid #EF8200;
    border-top: 0 none;
    border-right: 0 none;
    border-bottom: 0 none
   }
.topBar {
  position: relative;
  max-height: 88px;
  width: 100%;
  z-index: 1000;
  word-wrap: break-word;
  color:#FFF;
  width:100%;
  height:auto;
  margin: 0
 }
  .topBar .slideRight.pressed,   .topBar .slideLeft.pressed {
    background: #EF8200
  }
  .topBar .slideRight.pressed, .topBar .slideLeft.pressed {
    color: #FFF
  }
  .pressed [data-bgd="icon-menu"],  .pressed [data-bgd="icon-search-mobile"] {
    background-position: -138px -26px
  }
  .topBar .slideRight.pressed {
    border-right: 1px solid #C46901
  }
  .topBar .slideLeft.pressed {
    border-left: 1px solid #C46901
  }
  header#udbrand-banner[role="banner"] {
    display:none;
    visibility:hidden
  }
  .udwrap, body, .container {
    width:100%;
    min-width:0;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0
  }
  #udbrand-logo, .searchpad {
    text-align: left
  }
  #top {
    padding-top: 1em
  }
  .searchpad {
    display: block;
    width: 100%;
    height: auto;
    position: relative
  }
  .searchpad #navbtn {
    display: inline-block;
    position: absolute;
    top: -45px;
    right:0;
    text-indent: -99999px;
    overflow: hidden;
    width: 34px;
    height: 24px;
    background-image: url('../img/icons/sprites.png');
    background-image: url('../img/icons/sprites.svg'), none !important;
    background-repeat: no-repeat;
    background-position:-140px -40px
  }
  .searchpad nav {
    display: none;
    position: static;
    top: auto;
    right: auto;
    width: 100%
  }
  .searchpad ul {
    margin:0
  }
  .searchpad li {
    display: inline-block
  }
  .searchpad li a {
    display: inline-block;
    color: #BFE5FC;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    width: 35px;
    height: 30px;
    padding: 5px
  }

  #navlist {
    float:right
  }
  #udbrand-form {
    float: none;
    margin: 5px;
    padding:4px;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none 0
  }
  button#search:before {
    top: 10px
  }
  aside {
    margin: 0;
    padding-bottom: 1em
  }
  footer ul{
    text-align: center
  }
  form {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
  }
  .icon-phone {
    background-position: -10px -113px;
    content: "\00a0";
    width: 15px
  }

/*form  button.icon-search {
  background-position: 26% 4% !important;
  content: " ";
}*/
  footer a img{
    display:none
  }
}

@media only screen and (min-width:48em) {/* 768 */
  .page.slidRight, .page.slidLeft {
    -webkit-transform: translate3d(0em, 0px, 0px) !important;
    -moz-transform: translate3d(0em, 0px, 0px) !important;
    -o-transform: translate3d(0em, 0px, 0px) !important;
    -ms-transform: translate3d(0em, 0px, 0px) !important;
    transform: translate3d(0em, 0px, 0px) !important
  }

  #sidebarLeft, .topBar, #sidebarRight  {
    display:none;
    visibility:hidden
  }
  .deskBar {
    display:inline
  }
  header#udbrand-banner[role="banner"] {
    display:inline-block;
    visibility:visible
  }
  #menudiv {
    width: 25%;
    float:right;
  }
}

@media screen and (max-width: 28.125em) {
  .no-csstransforms3d .page.slidRight {
    left: 16em
  }
  .no-csstransforms3d .page.slidLeft {
    left: -20em
  }
  .no-csstransforms3d .page.slidRight {
    left: 20em
  }
}
@media screen and (max-width: 28.125em) {
  .no-csstransforms3d .page.slidLeft {
    left: -16em
  }
}
@media screen and (max-width: 28.125em) {
  .offcanvas .sidebarLeft, .offcanvas .sidebarRight {
    width: 16em
  }
}
/* iPhone 4, Opera Mobile 11 and other high pixel ratio devices https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 5/4), only screen and (min-resolution: 144dpi) {/* HiDPI */
  #udbrand-logo img {
    text-align: left
  }
  .icon-az {
    background-position: -183px -90px
  }
  .icon-map {
    background-position: -135px -89px
  }
  .icon-people {
    background-position: -90px -91px
  }
}

@media only screen and (max-width:29.938em) {/* 479 */
  body {
    font-size: 90%
  }
  h1 {
    font-size: 1.5em
  }
  header[role="banner"]{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:0;
    border-bottom:2px solid #002663;
    z-index:2
  }
  .page.slidRight {
    -webkit-transform: translate3d(16em, 0px, 0px);
    -moz-transform: translate3d(16em, 0px, 0px);
    -o-transform: translate3d(16em, 0px, 0px);
    -ms-transform: translate3d(16em, 0px, 0px);
    transform: translate3d(16em, 0px, 0px)
  }
  .page.slidLeft {
    -webkit-transform: translate3d(-16em, 0px, 0px);
    -moz-transform: translate3d(-16em, 0px, 0px);
    -o-transform: translate3d(-16em, 0px, 0px);
    -ms-transform: translate3d(-16em, 0px, 0px);
    transform: translate3d(-16em, 0px, 0px)
  }
  .sidebarLeft, .sidebarRight {
      background-color: #405C8A
  }
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important
  }

