/*
* desktop.css
*
* All browsers, desktop and mobile (device-width > 767) download the desktop.css stylesheet
*
* TABLE OF CONTENTS
* 1. FONT-FACE
* 2. LINKS
* 3. HEADERS
* 4. CONTAINERS
* 5. FORMS
* 6. FOOTER
* 7. IE HACKS
*/


aside.status h3{
	-webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0
}

/*
* 1. FONT-FACE
*/


/*a{
	text-decoration:none;
	-webkit-transition:all .25s linear;
	-moz-transition:all .25s linear;
	-o-transition:all .25s linear;
	-ms-transition:all .25s linear;
	transition:all .25s linear}*/



/*
 * 2. LINKS
 * includes icon to represent the type of link
 */

/*a {
	text-decoration: none;
	-moz-transition: 0.2s color linear;
	-webkit-transition: 0.2s color linear;
	transition: 0.2s color linear
}

a {
	-webkit-transition-property:background color;
	-webkit-transition-duration:0.12s;
	-webkit-transition-timing-function:ease-out;
	-moz-transition-property:background color;
	-moz-transition-duration:0.12s;
	-moz-transition-timing-function:ease-out;
	-o-transition-property:background color;
	-o-transition-duration:0.12s;
	-o-transition-timing-function:ease-out
}*/



/*
* 3. HEADERS
* responsive typography
* http://www.alistapart.com/articles/responsive-web-design/
*	http://www.alistapart.com/d/responsive-web-design/ex/ex-article.html
*/





/*
* 4. CONTAINERS
*/








.footerinfo a:hover, #udlinks a:hover {
    border-bottom: 1px dotted rgba(26, 67, 106, 0.87)
}

a ,a:active {
    outline:0;
    text-decoration:none
    }


.searchpad li a:hover {
    border-bottom: 1px dotted #A4DAFC
  }

a.icon-az:hover {
  background-position: -68px 18px;
  text-decoration: none;
  border: 0 none
}

a.icon-people:hover {
  background-position: 9px 16px;
  text-decoration: none;
  border: 0 none
}



 .search {
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,.4) inset,0 1px 0 rgba(255,255,255,.2);
    box-shadow:0 1px 1px rgba(0,0,0,.4) inset,0 1px 0 rgba(255,255,255,.2)
  }

  input#UDSearchField{
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5), 0 0 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 0 rgba(255, 255, 255, 0.5), 0 0 3px rgba(0, 0, 0, 0.1) inset
  }
 input#UDSearchField:focus {
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(132, 185, 211, 0.6);
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(132, 185, 211, 0.6);
    text-shadow:0 2px 3px rgba(0, 0, 0, 0.1);
}
/*
* 6. FOOTER
*/

footer img {float: right}

section#about {float:left}
section#ftlogo {float:right}
footer section ul {
	font-size: 0.75em;
	list-style-type: none
}
footer section ul li {
	display: inline;
	margin-right: .25em;
	padding-right: .25em
}
footer section ul li.sep {
	border-left: 1px solid #022663;
	border-right: 1px solid #022663;
	padding-left: .5em
}

div.toTop:hover {
    /*padding: 5px 3px;*/
    background: rgba(0, 38, 99, 0.9);
}

  .topBar .slideRight:hover, .topBar .slideLeft:hover {
    color: #FFF
  }



  #udbrand_logo a:hover {
text-decoration: underline
}

  .sidebarLeft .shutLeft:hover, .sidebarLeft .shutRight:hover, .sidebarRight .shutLeft:hover, .sidebarRight .shutRight:hover {
    opacity: 0.5
  }

    .sidebarLeft ul a:hover, .sidebarRight ul a:hover {
    color: #fff;
    background: #323232
  }
  .searchpad li a:hover {
    border-bottom: 0 none !important
  }

  #navlist li:hover {
    border:1px dotted #CCC;
    margin:0;
  }