/* http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
  * IE10 Windows Phone 8
*/
@-ms-viewport{
  width:device-width
}
/* https://github.com/h5bp/html5-boilerplate/blob/master/doc/extend.md */
/*@-ms-viewport{width:auto!important}*/
/* 7.
* IE HACKS
* IE 8 = .no-rgba.no-hsla
* IE 9 .no-rgba.no-csstransitions
*/
.lt-ie10 .searchpad #navbtn {right:20px !important}
.rgba.no-csstransitions .gradient {filter: none}


.no-rgba.no-hsla form{background:#FAFAFA}
/*.no-rgba.no-hsla .search input {
    height: 25px;
}*/
.no-rgba.no-hsla a {
  border-bottom: 1px solid #1A436A
}
.no-rgba.no-hsla .IE8submit {
  background: #00539F
}
.no-rgba.no-hsla #UDSearchField {
  height:auto
}
.no-rgba.no-hsla .search {
  padding:4px
}
.no-rgba.no-hsla .search button {
  height:30px;
}
.no-rgba.no-hsla .icon-search {
  display: inline-block;
  width: 34px;
  height: 34px;
  background-image: url('/deptforms/images/icons/sprites.png') !important;
  background-repeat: no-repeat;
}
.no-rgba.no-hsla legend {
  border:0;
  *margin-left:-7px;
  white-space:normal;
  background:#FAFAFA
}
.no-rgba.no-hsla small {
  font-size: 80%
}
.no-rgba.no-hsla fieldset {
  position:relative;
  margin:2em
}
.no-rgba.no-hsla form label + input{
  margin-top:.4em
}


/*.no-rgba.no-hsla .icon-az, .no-rgba.no-hsla .icon-people, .no-rgba.no-hsla .icon-map {background: none;}*/

.no-rgba.no-hsla input[type="checkbox"],.rgba.no-csstransitions input[type="radio"],.rgba.no-csstransitions input[type="checkbox"],.rgba.no-csstransitions input[type="radio"] {box-sizing:border-box;padding:0}
.rgba.no-csstransitions button,.no-rgba.no-hsla button{border-style:none}

  .searchpad nav {
    display: none;
    position: static;
    width: 100%;
    top: auto;
    right: auto;
  }

  a.icon-az:hover {
  background-position: -68px 29px;
  text-decoration: none;
  border: 0 none
}

a.icon-people:hover {
  background-position: 9px 16px;
  text-decoration: none;
  border: 0 none
}
