/*body {font-size: 90%}*/
body {font-family:Arial, Helvetica, sans-serif}
header#header{background:#002663;}
article{width:96%;margin:0 auto;padding-top:0.75em}


h1{margin:0;text-align:left;padding:0}
h2{text-align: left}
p{text-align: left}
h3{ line-height: 1em}
legend{font-weight:300}
button{padding:10px;background: #00539F}
::-webkit-input-placeholder{font-size:.8em}
:-moz-placeholder{font-size:.8em}
.errorContainer h3{
	padding:1em 2.4em 0.5em 1.5em;
	line-height: 1
}
fieldset, fieldset fieldset {margin:.6em;border:0 none;}
fieldset {margin: 0.6em 0;background:#E7E7E7;}

a, #udlinks li, form {border: 0 none;}
body {
	z-index: 0
}

#mobwrap{
	z-index: 2
}
header[role="banner"]{

    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:0;
    border-bottom:2px solid #002663;
    z-index:2;
}

#muh {
	position: fixed;
	top:-4px;
   background: #002663;
   max-height:0em;
    margin-top: 2em;
    width:100%;
    height: auto;
    overflow: hidden;
    cursor: pointer;
     -webkit-transition: all 500ms cubic-bezier(0.675, 0.170, 0.245, 0.795);
    -moz-transition: all 500ms cubic-bezier(0.675, 0.170, 0.245, 0.795);
    -ms-transition: all 500ms cubic-bezier(0.675, 0.170, 0.245, 0.795);
    -o-transition: all 500ms cubic-bezier(0.675, 0.170, 0.245, 0.795);
    transition: all 500ms cubic-bezier(0.675, 0.170, 0.245, 0.795);

}



#muh.expanded {
    max-height: 6em;
    margin-top: 3.37em
}


.searchpad #navbtn {
	float:right;
	clear:both;
	width:47px;
	height: 47px;
/*	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: #CCC;*/
	background-position:-133px -30px;
	/*background-color: #001A42*/


}

/*.searchpad #navbtn.land {
	display:inline-block;
	position: absolute;
	top:0px;
	width:47px;
	height: 47px;
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: #f00;
	background-position:-130px -30px;
	background-color: #001A42

}*/


.icon-az {
	display:inline-block;
	width:42px;
	height: 42px;
	background-position: 100% 64%;
}
.icon-map {
	display:inline-block;
	width:42px;
	height: 42px;
	background-position: 75% 65%;
}
.icon-people {
	display:inline-block;
	width:42px;
	height: 42px;
  background-position: 50% 63%;
}

#top {
	padding-top:4em
}

input[type="text"], input[type="email"], input[type="url"], input[type="tel"], textarea {
    width: 90%;
}


img[data-hide="mobile"] {
    display:none;
    visibility:hidden;
}
/*
	* Touch Target Sizes
	* http://uxdesign.smashingmagazine.com/2012/02/21/finger-friendly-design-ideal-mobile-touchscreen-target-sizes/
	* A touch target that’s 45 – 57 pixels wide allows the user’s finger to fit snugly inside the target.
*/
