.example {border: 1px solid red}
.no-background{background: none !important;border:0 none !important;}
.demoonly {
  background: none repeat scroll 0 0 #E9E9E9;
  border: 1px solid #C9C9C9
}
.demoonly span{
  font-weight: bold;

}
.cover {
    background: #002663;
    border-bottom:  3px solid #FFD200;
    width: 100%;
}



.nav li {
	display:inline-block;
}