<!--#include virtual="../templates/_start.inc.html" -->
<title>University of Delaware: UDBrand HTML5 Responsive Framework: Layouts</title>
<!--#if expr="${IS_MOBILE}" -->
<!--#include virtual="../templates/_mobile.head.inc.html" -->
<!--#else -->
<!--#include virtual="../templates/_default.head.inc.html" -->
<!--#endif -->
<link rel="stylesheet" href="examples/css/styles.css">
</head>
<body>
    <div id="jsWarning">This page requires JavaScript to work properly.</div>
    <!--#if expr="${IS_IE8}" -->
    <!--#include virtual="../templates/legacy.html" -->
    <!--#endif -->


    <section id="page" class="page">           
        <main role="main" class="scrollableArea" id="main-content">
            <!-- Place whatever HTML you want in here -->

            <div class="cover left padded" style="background:#002663">
                <hgroup class="heading padded">
                  <h1><img class="hires" src="img/logos/UD-header-mobile@2x.png" alt="University of Delaware"></h1>
                  <h2>Presenting</h2>
                  <h1>UDBrand HTML5 Responsive Framework</h1>
                  <a role="button" href="https://bitbucket.org/finstah/ud-template-framework">Fork on Bitbucket</a>
              </hgroup>
          </div>

          <div class="row">
            <div class="twelve columns">
               <h1>Basic Grid</h1>
               <p>If you look at the example below you can see how the rows and columns come together to build structure. Each 'row' contains a div that has been assigned a column width class (one, two, three...twelve) and a general columns class. These create your content wrapper.</p>
               <xmp>
                <div class="row">
                    <div class="twelve columns">
                        <p>Place content inside the columns div.</p>
                    </div>
                </div>
            </xmp>
            <ul>
                <li>Total # of columns per row MUST add up to 12.</li>
                <li>Each row has a 20px padding on each side to keep content off the edge of the browser window.</li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns demoonly">
            <p>twelve columns.</p>
        </div>
    </div>
    <div class="row">
        <div class="eleven columns demoonly">
            <p>eleven columns.</p>
        </div>
        <div class="one columns demoonly">
            <p>one column.</p>
        </div>
    </div>
    <div class="row">
        <div class="ten columns demoonly">
            <p>ten columns.</p>
        </div>
        <div class="two columns demoonly">
            <p>two columns.</p>
        </div>
    </div>
    <div class="row">
        <div class="nine columns demoonly">
            <p>nine columns.</p>
        </div>
        <div class="three columns demoonly">
            <p>three columns.</p>
        </div>
    </div>
    <div class="row">
        <div class="eight columns demoonly">
            <p>eight columns.</p>
        </div>
        <div class="four columns demoonly">
            <p>four columns.</p>
        </div>
    </div>
    <div class="row">
        <div class="seven columns demoonly">
            <p>seven columns.</p>
        </div>
        <div class="five columns demoonly">
            <p>five columns.</p>
        </div>
    </div>
    <div class="row">
        <div class="six columns demoonly">
            <p>six columns.</p>
        </div>
        <div class="six columns demoonly">
            <p>six columns.</p>
        </div>
    </div>

    <div class="row">
        <h3>Three sections</h3>
        <p>To add 3 sections to a row, simply add 3 sets of four columns. <strong>If layout breaks and content is wrapping, make sure to add class="first" to the first column and class="last" to the last column.</p>
         <xmp>
                <div class="row">
                    <div class="four columns first">
                        <p>1st section.</p>
                    </div>
                    <div class="four columns">
                        <p>2nd section.</p>
                    </div>
                    <div class="four columns last">
                        <p>3rd section.</p>
                    </div>
                </div>
            </xmp> 
        <div class="four columns demoonly first">
            <h3>Section one</h3>
            <p>Content here</p>
        </div>
        <div class="four columns demoonly">
            <h3>Section two</h3>
            <p>Content here</p>
        </div>
        <div class="four columns demoonly last">
            <h3>Section three</h3>
            <p>Content here</p>
        </div>
    </div>
    <div class="row">
        <div class="ten columns demoonly">
            <p>ten columns.</p>
        </div>
        <div class="two columns demoonly">
            <p>two columns.</p>
        </div>
    </div>
    <div class="row">
        <div class="nine columns demoonly">
            <p>nine columns.</p>
        </div>
        <div class="three columns demoonly">
            <p>three columns.</p>
        </div>
    </div>
    <div class="row">
        <div class="eight columns demoonly">
            <p>eight columns.</p>
        </div>
        <div class="four columns demoonly">
            <p>four columns.</p>
        </div>
    </div>
    <div class="row">
        <div class="seven columns demoonly">
            <p>seven columns.</p>
        </div>
        <div class="five columns demoonly">
            <p>five columns.</p>
        </div>
    </div>
    <div class="row">
        <div class="six columns demoonly">
            <p>six columns.</p>
        </div>
        <div class="six columns demoonly">
            <p>six columns.</p>
        </div>
    </div>


</main> <!-- #end ScrollableArea -->
</section>

<aside id="sidebarRight" class="sidebarRight">
   <div class="scrollableArea">
    <!-- Place whatever HTML you want in here -->

    <a class="shutRight" href="">&#10006;</a>
    <div class="you padded">
        Navigation
    </div>
    <nav role="navigation">
        <ul class="paddedLight">
           <li><a class="current" href="#"><span class="icon">&#8962;</span>Home</a></li>
           <li><a href="http://webs.css.udel.edu/cleonard/css_proj/ud-templates/leftonly.html" target="_blank"><span class="social">&#62208;</span>UD Search</a></li>
           <li><a href="http://webs.css.udel.edu/cleonard/css_proj/ud-templates/both.html"><span class="icon">&larr;</span>UD Search and site navigation</a></li>
           <li><a href="#"><span class="icon">&rarr;</span>Follow Us</a></li>
           <li><a href="#"><span class="icon">&#59254;</span>Woo hoo</a></li>
       </ul>
   </nav>
</div>
</aside>

</body>
</html>




