<!--#include virtual="../templates/_start.inc.html" -->

    <title>University of Delaware: UDBrand HTML5 Responsive Framework</title>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->

    <!--#if expr="${IS_MOBILE}" -->
         <!--#include virtual="../templates/_mobile.head.inc.html" -->
          <!--#else -->
         <!--#include virtual="../templates/_default.head.inc.html" -->
            <!--#endif -->
    <link rel="stylesheet" href="examples/css/styles.css">
</head>
	        <body>
            <div id="jsWarning">This page requires JavaScript to work properly.</div>
            <!--#if expr="${IS_IE8}" -->
            <div id="legacy">
                <div class="chromecontainer">
                    <h3>The University of Delaware no longer supports Internet Explorer 7 or 8.</h3>
                    <p>To ensure the best browsing experience, we recommend upgrading to the latest <a href="https://chrome.google.com">Google Chrome</a>, <a href="https://mozilla.org/firefox/">Firefox</a>, <a href="">Safari</a> or <a href="http://windows.microsoft.com/ie">Internet Explorer</a>.</p>
                    <p>If you are using IE 9 or later, make sure you <a href="http://windows.microsoft.com/en-US/windows7/webpages-look-incorrect-in-Internet-Explorer">turn off "Compatibility View"</a>.</p>
                    <p align="right"><a role="button" href="supported-browsers.html">Learn more</a> <a role="button" href="javascript:self.close();">Dismiss</a></p>
                </div>
            </div>
            <!--#endif -->


                <aside id="sidebarLeft" class="sidebarLeft">
            <div class="scrollableArea">
                <!-- Place whatever HTML you want in here -->

                <a class="shutRight" href="">&#10006;</a>

                <div class="you padded">
                    <a href="http://aidanzealley.com/" target="_blank"><img class="avatar" src="pictures/aidan.jpg" alt="Aidan Zealley" width="50"/></a>
                    <h2><a href="http://aidanzealley.com/" target="_blank">Aidan Zealley</a></h2>
                </div>
                <ul class="paddedLight">
                    <li><a class="current" href="index.html"><span class="icon">&#8962;</span>Home</a></li>
                    <li><a href="https://github.com/AidanZealley/off.canvas" target="_blank"><span class="social">&#62208;</span>GitHub Repository</a></li>
                    <li><a href="leftonly.html"><span class="icon">&larr;</span>Left sidebar only</a></li>
                    <li><a href="rightonly.html"><span class="icon">&rarr;</span>Right sidebar only</a></li>
                    <li><a href="http://aidanzealley.com/"><span class="icon">&#59254;</span>aidanzealley.com</a></li>
                    <li><a href=""><span class="icon">&#59201;</span>Sign Out</a></li>
                </ul>
            </div>
        </aside>

        <section id="page" class="page">
            <div class="scrollableArea">
                <!-- Place whatever HTML you want in here -->
                <header class="topBar" >
                 <!--  <a id="leftBurger" class="slideRight" href="">&#9776;</a> -->
                 <a id="leftBurger" class="slideRight ir" href="" aria-hidden="true" data-bgd="icon-menu">Menu</a>
                 <h1 class="aligncenter" id="udbrand-logo"><a href="//www.udel.edu"><img class="hires" src="img/logos/UD-header-mobile.png" alt="University of Delaware"></a></h1>
             </header>

             <header role="banner" id="udbrand-banner" class="deskBar clearfix">
                <div id="headcont" class="udwrap clearfix">
                    <div class="eight columns last">
                        <h1 id="udbrand-logo"><a href="//www.udel.edu"><img class="hires" src="img/logos/UD-header-blue.png" alt="University of Delaware"></a></h1>
                    </div>
                    <div id="menudiv" class="searchpad four columns last">
                        <nav role="navigation">
                            <form role="search" id="udbrand-form" class="search clearfix" name="search" action="//gsa1.udel.edu/search" method="get">
                                <button type="submit" id="search" class="icon-search right" data-bgd="icon-search"></button>
                                <div id="searchdiv">
                                    <input type="text" placeholder="Search all UD" value="" maxlength="256" name="q" id="UDSearchField">
                                </div>
                                <!-- <input type="button" id="UDSearchButton"> -->
                                <input type="hidden" value="UDel" name="site">
                                <input type="hidden" value="default_frontend" name="client">
                                <input type="hidden" value="xml_no_dtd" name="output">
                                <input type="hidden" value="default_frontend" name="proxystylesheet">
                            </form>
                            <ul id="navlist">
                                <li><a class="icon-az" href="//www.udel.edu/findit/a-z.html" title="Search by alphabetical listing">A-Z Index</a></li>
                                <li><a class="icon-map mid" href="//www.udel.edu/maps/" title="Geo location of campus buildings">Maps</a></li>
                                <li><a class="icon-people nopadding" href="//www.udel.edu/peoplesearch/" title="Student/Staff and Faculty Search">People</a></li>
                            </ul>
                        </nav>
                        <a href="#" id="navbtn">Nav Menu</a>
                    </div>
                </div>
            </header>
            <div class="cover left padded">
                <hgroup class="heading padded">
                    <h2>Presenting</h2>
                    <h1>UDBrand HTML5 Responsive Framework</h1>
                </hgroup>
            </div>

            <main role="main" id="main-content">
                                        <!-- Place whatever HTML you want in here -->
                                        <div class="row">
                                           <div class="twelve columns">
                                             <h1>UDBrand HTML Template Framework</h1>
                                             <p>This is a framework based on a 12 column grid. It includes technologies and functionality that takes advantage of the latest browser features while still maintaining compatibility. The grid uses html5, css3, WCAG 2.0 AA Compliance, jQuery, Modernizr (for feature detection) and Server Side Includes (SSI).</p>
                                             <h3>Basic Grid</h3>
                                             <p>If you look at the example below you can see how the rows and columns come together to build structure. Each 'row' contains a div that has been assigned a column width class (one, two, three...twelve) and a general columns class. These create your content wrapper.</p>
                                             <p>See <a href="">Layouts</a> for examples of how to use the grid system.</p>
                                         </div>
                                     </div>
                                     <div class="row">
                                        <div class="twelve columns demoonly">
                                            <p>12 columns</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="eleven columns demoonly">
                                            <p>11 columns</p>
                                        </div>
                                        <div class="one columns demoonly">
                                            <p>1</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="ten columns demoonly">
                                            <p>10 columns</p>
                                        </div>
                                        <div class="two columns demoonly">
                                            <p>2</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="nine columns demoonly">
                                            <p>9 columns</p>
                                        </div>
                                        <div class="three columns demoonly">
                                            <p>3 columns</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="eight columns demoonly">
                                            <p>8 columns</p>
                                        </div>
                                        <div class="four columns demoonly">
                                            <p>4 columns</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="seven columns demoonly">
                                            <p>7 columns</p>
                                        </div>
                                        <div class="five columns demoonly">
                                            <p>5 columns</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="six columns demoonly">
                                            <p>6 columns</p>
                                        </div>
                                        <div class="six columns demoonly">
                                            <p>6 columns</p>
                                        </div>
                                    </div>
                <!--#include virtual="../templates/_footer.inc.html" -->
                                </main> <!-- #end ScrollableArea -->
        </div>
    </section>



		<!-- <aside id="sidebarLeft" class="sidebarLeft">
			<div class="scrollableArea">


				<a class="shutLeft" href="">&#10006;</a>

				<div class="you padded">
                        Search and Quicklinks
                    </div>
				<nav role="navigation">
                        <form role="search" id="udbrand-form" class="search clearfix" name="search" action="//gsa1.udel.edu/search" method="get">
                            <button type="submit" id="search" class="icon-search right" data-bgd="icon-search"></button>
                            <div id="searchdiv">
                                <input type="text" placeholder="Search all UD" value="" maxlength="256" name="q" id="UDSearchField">
                            </div>
                            <input type="hidden" value="UDel" name="site">
                            <input type="hidden" value="default_frontend" name="client">
                            <input type="hidden" value="xml_no_dtd" name="output">
                            <input type="hidden" value="default_frontend" name="proxystylesheet">
                        </form>
                        <ul class="paddedLight" id="navlist">
                            <li><a href="//www.udel.edu/findit/a-z.html" title="Search by alphabetical listing">A-Z Index</a></li>
                            <li><a href="//www.udel.edu/maps/" title="Geo location of campus buildings">Maps</a></li>
                            <li><a href="//www.udel.edu/peoplesearch/" title="Student/Staff and Faculty Search">People</a></li>
                        </ul>
                    </nav>
			</div>
		</aside> -->
	</body>
</html>