<header role="banner" id="udbrand-banner" class="clearfix">
  <div id="headcont" class="udwrap clearfix">
    <div class="eightcol last">
      <h1 id="udbrand-logo"><a href="//www.udel.edu"><img class="hires" src="img/logos/UD-header-blue.png" alt="University of Delaware"></a></h1>
    </div>
    <div id="menudiv" class="searchpad fourcol last">
      <nav role="navigation">
        <form role="search" id="udbrand-form" class="search clearfix" name="search" action="//gsa1.udel.edu/search" method="get">
          <button type="submit" id="search" class="icon-search right" data-bgd="icon-search"></button>
          <div id="searchdiv">
            <input type="text" placeholder="Search all UD" value="" maxlength="256" name="q" id="UDSearchField">
          </div>
          <!-- <input type="button" id="UDSearchButton"> -->
          <input type="hidden" value="UDel" name="site">
          <input type="hidden" value="default_frontend" name="client">
          <input type="hidden" value="xml_no_dtd" name="output">
          <input type="hidden" value="default_frontend" name="proxystylesheet">
        </form>
        <ul id="navlist">
          <li><a class="icon-az" href="//www.udel.edu/findit/a-z.html" title="Search by alphabetical listing">A-Z Index</a></li>
          <li><a class="icon-map mid" href="//www.udel.edu/maps/" title="Geo location of campus buildings">Maps</a></li>
          <li><a class="icon-people nopadding" href="//www.udel.edu/peoplesearch/" title="Student/Staff and Faculty Search">People</a></li>
        </ul>
      </nav>
      <a href="#" id="navbtn">Nav Menu</a>
    </div>
  </div>
</header>