<footer itemtype="http://schema.org/EducationalOrganization" itemscope="" role="contentinfo" id="ud_brand_footer" class="page-row">
 <div class="udwrap row" id="footcont">
  <div class="nine columns" id="footerdiv">
   <ul class="footerinfo">
    <li>
    <span itemprop="name" data-dot="firstdot">Department Title</span>
    <span itemprop="name" data-dot="middot">University of Delaware</span>
    <address itemtype="http://schema.org/PostalAddress" itemscope="" itemprop="address">
     <span itemprop="addressLocality">  <span data-dot="middot"> Newark</span>, </span>
     <span itemprop="addressRegion">DE </span>
     <span itemprop="postalCode"> 19716</span>
     <span itemprop="addressCountry" data-dot="middot">USA</span>
    </address>
   </li>
   <li>Phone: <a itemprop="telephone" href="tel:3028310000">(302) 831-0000</a>
   <small id="date"></small>
   </li>
  </ul>
  <ul class="small" id="udlinks">
   <li><span data-dot="firstdot"></span><a href="https://delaware.qualtrics.com/SE?SID=SV_5j7YfTePPlSOj3e&amp;SVID=Prod" target="_blank">Comments</a></li>
   <li><span data-dot="middot"></span><a href="mailto: conslut@udel.edu?subject=Title of This We Site Contact">Contact Us</a></li>
   <li><span data-dot="middot"></span><a href="http://www.udel.edu/compliance" target="_blank">UD Compliance Hotline</a></li>
   <li><span data-dot="middot"></span><a href="http://www.udel.edu/aboutus/legalnotices.html" target="_blank">Legal Notices</a></li>
  </ul>
 </div>

 <div itemtype="http://schema.org/ImageObject" itemscope="" id="ftlogo" class="three columns">
  <a href="http://www.udel.edu"><img width="136" height="59" alt="University of Delaware" data-hide="mobile" class="right hires" src="http://www.udel.edu/deptforms/images/logos/UD-footer-blue.png"></a>
 </div>
</div>
</footer>
<div class="toTop icon-top small">Top</div>