 <div id="legacy">
    <div class="chromecontainer">
        <h3>The University of Delaware no longer supports Internet Explorer 7 or 8.</h3>
        <p>To ensure the best browsing experience, we recommend upgrading to the latest <a href="https://chrome.google.com">Google Chrome</a>, <a href="https://mozilla.org/firefox/">Firefox</a>, <a href="">Safari</a> or <a href="http://windows.microsoft.com/ie">Internet Explorer</a>.</p>
        <p>If you are using IE 9 or later, make sure you <a href="http://windows.microsoft.com/en-US/windows7/webpages-look-incorrect-in-Internet-Explorer">turn off "Compatibility View"</a>.</p>
        <p align="right"><a role="button" href="supported-browsers.html">Learn more</a> <a role="button" href="javascript:self.close();">Dismiss</a></p>
    </div>
</div>