


.offcanvas body {
  overflow: hidden; }





.floated {
  float: left;
  width: 100%; }

.padded {
  padding: 2em
}

.paddedLight {
  padding: 1.2em
}

.offcanvas .scrollableArea {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.sidebarLeft.show, .sidebarRight.show {
  z-index: 200; }

/* Sliding side bars */
.sidebarLeft, .sidebarRight {
  float: left;
  width: 20%;
  word-wrap: break-word;
  z-index: 100;
  background-color: #272727;
  /* hides close button unless JS is enabled */ }


/* Styles for both sidebars */
.offcanvas .sidebarLeft, .offcanvas .sidebarRight {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20em; }

  @media screen and (max-width: 28.125em) {
    .offcanvas .sidebarLeft, .offcanvas .sidebarRight {
      width: 16em; } }

.offcanvas .sidebarLeft {
  left: 0;
  transform: translate3d(-7em, 0, 0);
  -ms-transform: translate3d(-7em, 0, 0);
  -moz-transform: translate3d(-7em, 0, 0);
  -webkit-transform: translate3d(-7em, 0, 0);
  -o-transform: translate3d(-7em, 0, 0); }
  .offcanvas .sidebarLeft .shutLeft {
    left: 0; }

.offcanvas .sidebarRight {
  right: 0;
  transform: translate3d(7em, 0, 0);
  -ms-transform: translate3d(7em, 0, 0);
  -moz-transform: translate3d(7em, 0, 0);
  -webkit-transform: translate3d(7em, 0, 0);
  -o-transform: translate3d(7em, 0, 0); }


/*.no-csstransforms3d .offcanvas .sidebarLeft {
  left:-7em;
}
.no-csstransforms3d .offcanvas .sidebarRight {
  right:-7em;
}*/
/* Main central area styles */
.page {
  word-wrap: break-word;
  position: relative;
  z-index: 500; }

    @media screen and (max-width: 37.5em) {
      .page .scrollableArea {
        font-size: 90%; } }
    @media screen and (max-width: 28.125em) {
      .page .scrollableArea {
        font-size: 85%; } }
    @media screen and (max-width: 20em) {
      .page .scrollableArea {
        font-size: 80%; } }

.offcanvas .page {
  width: 100%;
  height: 100%; }

.no-js .page {
  float: left;
  width: 60%; }

/* Slid styles */
.page.slidRight {
  transform: translate3d(20em, 0, 0);
  -ms-transform: translate3d(20em, 0, 0);
  -moz-transform: translate3d(20em, 0, 0);
  -webkit-transform: translate3d(20em, 0, 0);
  -o-transform: translate3d(20em, 0, 0); }
  @media screen and (max-width: 28.125em) {
    .page.slidRight {
      transform: translate3d(16em, 0, 0);
      -ms-transform: translate3d(16em, 0, 0);
      -moz-transform: translate3d(16em, 0, 0);
      -webkit-transform: translate3d(16em, 0, 0);
      -o-transform: translate3d(16em, 0, 0); } }

.page.slidLeft {
  transform: translate3d(-20em, 0, 0);
  -ms-transform: translate3d(-20em, 0, 0);
  -moz-transform: translate3d(-20em, 0, 0);
  -webkit-transform: translate3d(-20em, 0, 0);
  -o-transform: translate3d(-20em, 0, 0); }
  @media screen and (max-width: 28.125em) {
    .page.slidLeft {
      transform: translate3d(-16em, 0, 0);
      -ms-transform: translate3d(-16em, 0, 0);
      -moz-transform: translate3d(-16em, 0, 0);
      -webkit-transform: translate3d(-16em, 0, 0);
      -o-transform: translate3d(-16em, 0, 0); } }

.no-csstransforms3d .page.slidRight {
  left: 20em; }
  @media screen and (max-width: 28.125em) {
    .no-csstransforms3d .page.slidRight {
      left: 16em; } }

.no-csstransforms3d .page.slidLeft {
  left: -20em; }
  @media screen and (max-width: 28.125em) {
    .no-csstransforms3d .page.slidLeft {
      left: -16em; } }

.sidebarLeft.slidRight, .sidebarRight.slidLeft {
  transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0); }

.no-csstransforms3d .sidebarLeft.slidRight {
  left: 0; }

.no-csstransforms3d .sidebarRight.slidLeft {
  right: 0; }


  .topBar .slideRight, .topBar .slideLeft {
    position: absolute;
    top: 0;
    width: 0.8em;
    height: 0.8em;
    font-size: 5em;
    line-height: 0.84em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: 'Entypo'; }
  .topBar .slideRight:hover, .topBar .slideRight.pressed, .topBar .slideLeft:hover, .topBar .slideLeft.pressed {
    color: white; }
  .topBar .slideRight.pressed, .topBar .slideLeft.pressed {
    background: #828282; }
  .topBar .slideRight {
    left: 0; }
  .topBar .slideLeft {
    right: 0; }


/*©hr {
  float: left;
  width: 100%;
  height: 2px;
  margin: 3em 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px dashed #ffede2; }

code {
  display: block;
  margin: 2em 0;
  padding: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: courier new;
  background: #eeeeee;
  border-radius: 0.25em; }

.icon {
  font-family: Entypo;
  font-style: normal;
  font-size: 1.5em; }

.social {
  font-family: Social;
  font-style: normal;
  font-size: 1.5em; }

.pacifico {
  font-family: 'Pacifico'; }

.button {
  float: left;
  margin: 0.5em 0;
  padding: 0.5em;
  font-family: 'Pacifico', Serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #fff6f1;
  background-color: #e05000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e05000), color-stop(100%, #be4400));
  background: -webkit-linear-gradient(#e05000, #be4400);
  background: -moz-linear-gradient(#e05000, #be4400);
  background: -o-linear-gradient(#e05000, #be4400);
  background: linear-gradient(#e05000, #be4400);
  text-decoration: none;
  border-radius: 0.375em;
  box-shadow: inset 0 0.0625em 0.0625em rgba(255, 255, 255, 0.25), 0 0.0625em 0.125em rgba(0, 0, 0, 0.25);
  text-shadow: 0 0.02em 0.02em rgba(0, 0, 0, 0.25); }

.button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fd5a00), color-stop(100%, #ee5500));
  background: -webkit-linear-gradient(#fd5a00, #ee5500);
  background: -moz-linear-gradient(#fd5a00, #ee5500);
  background: -o-linear-gradient(#fd5a00, #ee5500);
  background: linear-gradient(#fd5a00, #ee5500); }

.button:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #be4400), color-stop(100%, #e05000));
  background: -webkit-linear-gradient(#be4400, #e05000);
  background: -moz-linear-gradient(#be4400, #e05000);
  background: -o-linear-gradient(#be4400, #e05000);
  background: linear-gradient(#be4400, #e05000); }

.button.huge {
  width: 100%;
  text-align: center;
  font-size: 2.8em;
  margin: 0.8em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }*/

.center {
  float: left;
  width: 100%;
  text-align: center; }

.fat {
  width: 100%;
  max-width: 75em;
  margin: 0 auto; }

.thin {
  width: 100%;
  max-width: 62.5em;
  margin: 0 auto; }

.thinnest {
  width: 100%;
  max-width: 37.5em;
  margin: 0 auto; }

.sidebarLeft, .sidebarRight {
  background-image: url(img/cloth.png);
  background-size: 250px;
  color: #fff; }
  .sidebarLeft ul, .sidebarRight ul {
    float: left;
    width: 100%; }
    .sidebarLeft ul a, .sidebarRight ul a {
      float: left;
      width: 100%;
      padding: 0.6em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-decoration: none;
      color: gainsboro;
      font-weight: 300;
      text-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.4); }
      .sidebarLeft ul a:hover, .sidebarLeft ul a.current, .sidebarRight ul a:hover, .sidebarRight ul a.current {
        color: #fff;
        background: #323232; }
  .sidebarLeft li, .sidebarRight li {
    float: left;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    position: relative; }
    .sidebarLeft li .icon, .sidebarRight li .icon {
      margin: 0 0.4em 0 0; }
    .sidebarLeft li .social, .sidebarRight li .social {
      margin: 0 0.4em 0 0; }
  .sidebarLeft li:last-child, .sidebarRight li:last-child {
    border-bottom: 0; }

.you {
  float: left;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
/*  box-shadow: inset 0 -0.2 0.5em rgba(0, 0, 0, 0.6);*/
  border-bottom: 1px solid #2d2d2d;
  position: relative;
  text-align: center; }





  .topBar .slideRight, .topBar .slideLeft {
    color: #fff6f1;
   /* text-shadow: 0 0.02em 0.02em rgba(0, 0, 0, 0.25); */}
  .topBar .slideRight:hover, .topBar .slideRight.pressed, .topBar .slideLeft:hover, .topBar .slideLeft.pressed {
    color: #ffdac6; }
  .topBar .slideRight.pressed, .topBar .slideLeft.pressed {
    background: #b34000; }
  .topBar .slideRight.pressed {
    border-right: 1px solid #d94e00;
   /* box-shadow: inset -0.02em 0.02em 0.0625em rgba(0, 0, 0, 0.15); */}
  .topBar .slideLeft.pressed {
    border-left: 1px solid #d94e00;
   /* box-shadow: inset 0.02em 0.02em 0.0625em rgba(0, 0, 0, 0.15); */}
/*  .topBar .slideRight {
    -moz-border-radius-topleft: 0.075em;
    -webkit-border-top-left-radius: 0.075em;
    border-top-left-radius: 0.075em; }
  .topBar .slideLeft {
    -moz-border-radius-topright: 0.075em;
    -webkit-border-top-right-radius: 0.075em;
    border-top-right-radius: 0.075em; }*/
  .topBar h1 {
/*    font-family: 'Pacifico', Sans-Serif;*/
    color: #ffc8a9;
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.1em;
    text-align: center;
/*    text-shadow: 0 -0.04em 0.04em rgba(0, 0, 0, 0.25), 0 0 3em #ffa370; */}

.cover {
  background: #272727 url(../pictures/_MG_3901-blur.jpg);
  background-size: cover;
  background-position: center center; }
  .cover .heading {
    padding: 3em 0;
    background-color: transparent;
    /*@include background(linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0)));*/ }
    .cover .heading h1 {
      color: #fff;
      /*text-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.25);*/
      position: relative;
      z-index: 100; }
    .cover .heading h2 {
      /*text-shadow: 0 0.0625em 0.0625em rgba(0, 0, 0, 0.25);*/
      position: relative;
      z-index: 100;
      color: #fff;
      opacity: 0.8; }
  .cover .info {
    padding-bottom: 1.8em; }

.heading {
  float: left;
  width: 100%;
  text-align: center;
  background: #fff; }
  .heading h1 {
    font-family: 'Lato', Serif;
    max-width: 75em;
    font-size: 3.8em;
    font-weight: 200;
    margin: 0.3em 0; }
  .heading h2 {
    font-family: 'Lato', Serif;
    max-width: 75em;
    text-transform: uppercase;
    letter-spacing: 0.75em;
    font-size: 1.2em;
    font-weight: 200;
    margin: 1em 0 0.2em 0; }
  .heading h2::before {
    content: '\00AB';
    font-family: 'georgia', serif;
    font-size: 1.2em;
    opacity: 0.5; }
  .heading h2::after {
    content: '\00BB';
    font-family: 'georgia', serif;
    font-size: 1.2em;
    opacity: 0.5; }
  @media screen and (max-width: 28.125em) {
    .heading {
      font-size: 90%; } }

.demo {
  float: left;
  width: 100%;
  margin: 3em 0; }
  .demo li {
    float: left;
    width: 33.333333%;
    margin-bottom: 2em;
    position: relative;
    text-align: center; }
    .demo li span {
      position: absolute;
      top: 10%;
      right: -6%;
      font-size: 1.5em;
      font-weight: 100;
      color: #702c07; }
    @media screen and (max-width: 37.5em) {
      .demo li {
        width: 50%; } }
    @media screen and (max-width: 20em) {
      .demo li {
        width: 100%; } }
  .demo img {
    width: 80%;
    height: auto;
    margin-bottom: 2em; }
  .demo p {
    width: 80%;
    margin: 0 10%; }











