<!--#include virtual="templates/_start.inc.html" -->
<title>University of Delaware: Page Title</title>
<meta name="author" content="University of Delaware: Department">
<meta name="description" content="Page description for search results display. It's best to keep it between 150 and 160 characters.">
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">


        <link rel="stylesheet" href="http://www.udel.edu/deptforms/css/default13.css" media="screen">

          <!--#if expr="!${IS_MOBILE}" -->
         <link rel="stylesheet" href="http://www.udel.edu/deptforms/css/desktop13.css" media="screen">
          <!--#else -->
          <link rel="stylesheet" href="http://www.udel.edu/deptforms/css/mobile14.css" media="screen">
            <!--#endif -->
        <script src="http://www.udel.edu/deptforms/js/libs/modernizr.min.js"></script>


<!--#if expr="${IS_MOBILE}" -->
  <!--#include virtual="templates/_mobile.head.inc.html" -->
  <!-- Use 1 touch icon https://github.com/h5bp/html5-boilerplate/commit/71ca9fb7a06bfcd2359c924ca261d41d1dd03e8d -->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.udel.edu/deptforms/images/touch/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-title" content="App Title for iPhone, iPad">
<!--#else -->
  <!--#include virtual="templates/_default.head.inc.html" -->
<!--#endif -->

<!--#if expr="${IS_IE10}" -->
  <!-- http://mattstow.com/responsive-design-in-ie10-on-windows-phone-8.html -->
  <meta name="msapplication-tap-highlight" content="no">
  <script>(function() {if (navigator.userAgent.match(/IEMobile\/10\.0/)) {var msViewportStyle = document.createElement("style");msViewportStyle.appendChild(document.createTextNode("@-ms-viewport{width:auto!important}"));document.getElementsByTagName("head")[0].appendChild(msViewportStyle);}})();</script>
<!--#endif -->

<!--#if expr="${isIE}" -->
  <link href="css/ie.css" rel="stylesheet">
<!--#endif -->



</head>
<body>
<div id="jsWarning">This page requires JavaScript to work properly.</div>
 <!--#if expr="${IS_IE8}" -->
<!--#include virtual="http://www.udel.edu/deptforms/templates/_legacy.inc.html" -->
  <!--#endif -->


<!--#if expr="${IS_MOBILE}" -->
  <!--#include virtual="templates/_mobile.header.inc.html" -->
<!--#else -->
  <!--#include virtual="templates/_default.header.inc.html" -->
<!--#endif -->


<main role="main" class="detail toppad" id="main-content">

  <section class="udwrap clearfix">
<h2>Supported browsers</h2>
<p>University of Delaware web sites are designed to support the latest web browsers.</p>

<p>We recommend using <a href="https://www.google.com/chrome/">Google Chrome</a> - it's fast and updates itself automatically. We also support the current versions of <a href="http://www.apple.com/safari/">Safari</a>, <a href="http://www.mozilla.org/firefox/">Firefox</a>, and <a href="http://ie.microsoft.com/">Interet Explorer 9+</a>.</p>

<h3>Internet Explorer Compatibility View</h3>

<p>We only support IE running in "Standards Mode." If you see an error message saying your browser is outdated, it may be running in "Compatibility View." Turning off this compatibility mode will remove the outdated browser error.</p>

<h4>IE 9</h4>

<ol class="nums">
<li>Visit <a href="http://www.udel.edu">udel.edu</a></li>
<li>Click the "Compatibility View" button in the address bar.<br>
<img alt="Compatibility View button" src="http://www.udel.edu/deptforms/images/support/ie9-compat-mode.png"></li>
<li>Refresh the page</li>
</ol>

<h4>IE 9 for Enterprise</h4>

<p>If you are accessing Udel.Edu from an intranet domain, it may be forced to use compatibility mode. You can turn this off in the Compatibility View settings:</p>

<ol class="nums">
<li>Go to <code>Tools</code> → <code>Compatibility View Settings</code><br>
<img alt="Tools Menu Compatibility Menu" src="http://www.udel.edu/deptforms/images/support/ie9-compat-view-menu.png"></li>
<li>Uncheck "Display intranet sites in Compatibility View"<br>
<img alt="Compatibility View Settings Dialog box" src="http://www.udel.edu/deptforms/images/support/ie9-compat-view-settings.png"></li>
</ol>
<h4>IE 10</h4>

<p>IE10 should default to "Standards Mode."  If you're getting the outdated browser error message, the settings have likely been changed to force "Compatibility View" to be used.</p>

<ol>
<li>Open F12 developer tools by pressing the F12 key</li>
<li>Set Browser Mode to "Internet Explorer 10"</li>
<li>Set Document Mode to "Standards"<br><img alt="Document Mode Menu" src="http://www.udel.edu/deptforms/images/support/IE10_document_mode.png"></li>
</ol>

<p>If you have questions or need additional help. Contact <a href="mailto:consult@udel.edu?subject=Browser support contact form">consult@udel.edu</a></p>
</section>
</main>


<footer itemtype="http://schema.org/EducationalOrganization" itemscope="" role="contentinfo" id="ud_brand_footer" class="page-row">
 <div class="udwrap row" id="footcont">
  <div class="nine columns" id="footerdiv">
   <ul class="footerinfo">
    <li>
    <span itemprop="name" data-dot="firstdot">Department Title</span>
    <span itemprop="name" data-dot="middot">University of Delaware</span>
    <address itemtype="http://schema.org/PostalAddress" itemscope="" itemprop="address">
     <span itemprop="addressLocality">  <span data-dot="middot"> Newark</span>, </span>
     <span itemprop="addressRegion">DE </span>
     <span itemprop="postalCode"> 19716</span>
     <span itemprop="addressCountry" data-dot="middot">USA</span>
    </address>
   </li>
   <li>Phone: <a itemprop="telephone" href="tel:3028310000">(302) 831-0000</a>
   <small id="date"></small>
   </li>
  </ul>
  <ul class="small" id="udlinks">
   <li><span data-dot="firstdot"></span><a href="https://delaware.qualtrics.com/SE?SID=SV_5j7YfTePPlSOj3e&amp;SVID=Prod" target="_blank">Comments</a></li>
   <li><span data-dot="middot"></span><a href="mailto: conslut@udel.edu?subject=Title of This We Site Contact">Contact Us</a></li>
   <li><span data-dot="middot"></span><a href="http://www.udel.edu/compliance" target="_blank">UD Compliance Hotline</a></li>
   <li><span data-dot="middot"></span><a href="http://www.udel.edu/aboutus/legalnotices.html" target="_blank">Legal Notices</a></li>
  </ul>
 </div>


      <!--#if expr="!${IS_MOBILE}" -->
 <div itemtype="http://schema.org/ImageObject" itemscope="" id="ftlogo" class="three columns">
  <a href="http://www.udel.edu"><img width="136" height="59" alt="University of Delaware" class="right hires" src="http://www.udel.edu/deptforms/images/logos/UD-footer-blue.png"></a>
 </div>
     <!--#endif -->
</div>
</footer>




<div class="toTop icon-top small">Top</div>

<!-- include jquery 1.11 if you need to support IE < 9 -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/deptforms/js/libs/jquery-2.1.1.min.js"><\/script>')</script>
<script src="http://www.udel.edu/deptforms/js/script.js"></script>
</body>
</html>
