<base href="http://webs.css.udel.edu/cleonard/css_proj/ud-templates/">
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="img/touch/apple-touch-icon.png">
<meta name="msapplication-TileColor" content="#222">
<link rel="canonical">
<link rel="shortcut icon" href="img/touch/favicon.ico">
<!-- Create an XML sitemap and upload it to your Webmaster Tools account -->
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/default.1.4.css" media="screen">
<link rel="stylesheet" href="css/offcanvas.css">
<link rel="stylesheet" href="css/desktop.1.4.css" media="screen">
<link rel="icon" type="image/x-icon" href="img/icons/favicon.ico">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-2.1.1.min.js"><\/script>')</script>
    <script src="js/libs/modernizr.min.js"></script>
    <script src="js/jquery.offcanvas.min.js"></script>
<script>
jQuery(document).ready(function($) {
$('html').offcanvas({
hasSidebarRight: false
});
});
</script>
