<!-- Hide url bar in iOS7.1 https://github.com/h5bp/mobile-boilerplate/commit/c8897f16b272df16d6b5c8c6fe76261aa2952529 -->
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
<meta http-equiv="cleartype" content="on">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="App Title for iPhone, iPad">
<!-- Use 1 touch icon https://github.com/h5bp/html5-boilerplate/commit/71ca9fb7a06bfcd2359c924ca261d41d1dd03e8d -->
<link rel="apple-touch-icon" sizes="152x152" href="img/touch/apple-touch-icon.png">

<link rel="canonical">
<link href="css/default.1.4.css" rel="stylesheet">
<link href="css/mobile.1.4.css" rel="stylesheet">
<script>
	//This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026
	(function(a,b,c){if((c in b)&&b[c]){var d,location=a.location,stop=/^(a|html)$/i;a.addEventListener('click',function(e){d=e.target;while(!(stop).test(d.nodeName)){d=d.parentNode}if('href'in d&&(d.href.indexOf('http')||~d.href.indexOf(location.host))){e.preventDefault();location.href=d.href}},false)}})(document,window.navigator,'standalone');
</script>
<script src="js/libs/modernizr-mobile.js"></script>
<script src="js/libs/jquery-2.1.1.min"></script>
<script>
/*
* iOS 5+ Viewport Scaling Bug Fix
* https://gist.github.com/901295
*/
!function(doc) {var addEvent='addEventListener',type = 'gesturestart',qsa = 'querySelectorAll',scales = [1, 1],meta = qsa in doc ? doc[qsa]('meta[name=viewport]') : [];

function fix() {
	meta.content = 'width=device-width,minimum-scale=' + scales[0] + ',maximum-scale=' + scales[1];
	doc.removeEventListener(type, fix, !0);
}
if ((meta = meta[meta.length - 1]) && addEvent in doc) {
	fix();
	scales = [.25, 1.6];
	doc[addEvent](type, fix, !0);
}
}(document);
</script>